<header class="nav">

	<div class="container">

		<div class="nav-left">
			<a class="nav-item is-brand" href="{{ site.baseurl }}/">
				{{ site.title }}
			</a>
		</div>

		<span
			id="nav-toggle"
			class="nav-toggle"
			v-on:click="toggleActive"
		>
			<span></span>
			<span></span>
			<span></span>
		</span>

		<div
			id="nav-menu"
			class="nav-right nav-menu"
			v-bind:class="{ ' is-active': isActive }"
		>

			{% if page.title == site.home_icon_title %}
				<a class="nav-item is-tab is-active" href="{{ site.home_url }}">
			{% else %}
				<a class="nav-item is-tab" href="{{ site.home_url }}">
			{% endif %}
					<span class="icon">
						<i class="fa fa-home fa-lg" aria-hidden="true"></i>
					</span>
				</a>

			{% for p in site.pages %}
				{% if p.nav %}
					{% if page.url == p.url %}
						<a class="nav-item is-tab is-active" href="{{ p.url }}">
					{% else %}
						<a class="nav-item is-tab" href="{{ p.url }}">
					{% endif %}
							{{ p.title }}
						</a>
				{% endif %}
			{% endfor %}

		</div> <!-- nav-right -->

	</div> <!-- container -->

</header>