<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <section id="app" class="hero is-primary is-large header-image">
      <div class="hero-head">
    
        {% include nav.html %}

      </div> <!-- hero-head -->

      <!-- Main site container -->
      <div class="hero-body">

        <a class="anchor" name="top-of-page"></a>

        {{ content }}

      </div> <!-- hero-body -->
      
    </section>

    {% include footer.html %}

    {% js vue.js %}

    {% js app.js %}

  </body>

</html>