<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <section id="app" class="hero is-primary is-large header-image">
      <div class="hero-head">
    
        {% include nav.html %}

      </div> <!-- hero-head -->

      <!-- Main site container -->
      <div class="hero-body">

        <a class="anchor" name="top-of-page"></a>

        {{ content }}

      </div> <!-- hero-body -->
      
    </section>

    {% include footer.html %}

    {% js vue.js %}

    {% js app.js %}

    <div id="disqus_thread" class="container"></div>

    <script>
      var disqus_url = 'http://capefaeria.com';
      var disqus_config = function () {
        this.page.url = '{{ site.url }}{{ page.url }}';  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = '{{ site.url }}{{ page.title }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };

      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//cape-faeria.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>

    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

  </body>

</html>